.menu_items {
    display: inline-block;
    padding: 40px;
    
}
.menu_items a{
    text-decoration: none;
    color: #000;
}
.right-align {
    float: right;
}
.activebutton{
    font-weight: bold;
    font-size: 20px;
}