<ul>
    <li class="menu_items"><a routerLink="/" routerLinkActive="activebutton" (click)="onClickMenu(1)">LOGO</a></li>
    <li class="menu_items"><a routerLink="/about" routerLinkActive="activebutton" (click)="onClickMenu(2)">ABOUT</a></li>
    <li class="menu_items"><a routerLink="/community" routerLinkActive="activebutton" (click)="onClickMenu(3)">COMMUNITY</a></li>
    <li class="menu_items"><a routerLink="/location" routerLinkActive="activebutton" (click)="onClickMenu(4)">LOCATION</a></li>
    <li class="menu_items"><a routerLink="/menu" routerLinkActive="activebutton" (click)="onClickMenu(5)">OUR MENU</a></li>
    <li class="menu_items"><a routerLink="/recipes" routerLinkActive="activebutton" (click)="onClickMenu(6)">RECIPIES</a></li>
    <li class="menu_items right-align"><a routerLink="/login" routerLinkActive="activebutton" >LOGIN</a></li>
    <li class="menu_items right-align"><a routerLink="/contact" routerLinkActive="activebutton">CONTACT</a></li>
</ul>
