<div class="slow-rows">
  <div class="row" [@rowAnimation]="rowState[0]">
    <div class="column left">
      <div class="mid-card">
        <h2 class="large-heading">MEET OUR COMMUNITY</h2>
        <div class="sub-head"> KNOW MORE </div>
        <div>LOREM IPSUM DOLOR SIT AMET ERNUT TEMPARTERO SERTU PER NABORE EN TORNA ENTALTO.</div>
      </div>
    </div>
    <div class="column right">
      <div class="img-card"> <img class="img-size" src="assets/taco.png" alt="Taco"></div>
      <div class="comment-card">
        <div>
          <h4>@buzzfeedfood</h4>
        </div>
        <div> It’s taco Tuesday! These tacosfrom @jesseszewczyk have no added sugars and are SO good🌮 . Find the recipe
          from the link in our bio! 📸 : @taylormillerphoto</div>
      </div>
    </div>
  </div>

  <div class="row" [@rowAnimation]="rowState[1]">
    <div class="column left">
      <div class="img-card right-align"> <img class="img-size" src="assets/waffle.png" alt="Waffle"></div>
      <div class="comment-card right-align">
        <div>
          <h4>@love_food</h4>
        </div>
        <div> Waffle sticks in Copenhagen! 😍 Milk chocolate with
          sprinkles, dark chocolate with
          coconut and milk chocolate
          with peanuts! [📷 :
          @foodwithmichel] #lovefood
        </div>
      </div>
    </div>
    <div class="column right">
      
    </div>
  </div>

  <div class="row" [@rowAnimation]="rowState[2]">
    <div class="column left">
      <div class="left-card">
        <div>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed
          do eiusmod tempor incididunt
          ut labore et dolore magna
          aliqua. Duis aute irure.</div>
      </div>
    </div>
    <div class="column right">
      <div class="comment-card">
        <div>
          <h4>@buzzfeedfood</h4>
        </div>
        <div> Getting into long weekend
          mode like 🍤 #pancitpalabok
          (📷 @jeepneynyc)</div>
      </div>
      <div class="img-card"> <img class="img-size" src="assets/taco.png" alt="Taco"></div>
    </div>
  </div>
</div>